<h1 class="text-center mt-4 purple_text">
  <%= @user.username %>
</h1>
<%= gravatar_for @user, size: 300 %>
<% if logged_in? and @user == current_user %>
  <div class="text-center mt-4">
    <%= link_to "account settings", edit_user_path(@user), class: "btn btn-lg btn_purple_text" %>
  </div>
<% end %>
<h3 class="text-center mt-4 purple_text">Articles</h3>
<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>  
<%= render 'articles/article' %>
<div class="flickr_pagination mb-4">
  <%= will_paginate @articles, :container => false %>
</div>  
